<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=ICS-LT-D6L96V3\SQLEXPRESS;Initial Catalog=assessmentdb;Integrated Security=True;Pooling=False" name="AssessmentDb"/>
	</connectionStrings>
</configuration>